spring:
  datasource:
    url: jdbc:mysql://localhost:3306/pet_db?serverTimezone=Asia/Seoul
    username: root
    password: 9265
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        use_sql_comments: true